<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.repository.system.dict.PushDictDao">
	<!-- com.jy.entity.system.dict.PushDict  -->
 	<resultMap id="base" type="PushDict" ></resultMap>
 	<select id="find"  resultMap="base" parameterType="PushDict">
       SELECT t.* FROM JY_PUSH_DICT t WHERE 1=1 
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
       <if test="paramKey != null and paramKey!='' ">
        	AND t.paramKey=#{paramKey}
       </if>
    </select> 
 	<select id="findByPage"  resultMap="base" parameterType="PushDict">
       SELECT t.* FROM JY_PUSH_DICT t WHERE 1=1 
        <if test="param.id!= null and param.id!='' ">
        	AND t.id=#{param.id}
       </if>
       <if test="param.isValid!= null">
        	AND t.isValid=#{param.isValid}
       </if>
       <if test="param.keyWord!= null">
        	AND (
        	t.paramKey LIKE CONCAT('%',#{param.keyWord},'%')    
        	OR   t.paramName LIKE CONCAT('%',#{param.keyWord},'%')
        	OR   t.paramValue LIKE CONCAT('%',#{param.keyWord},'%')
        	)
       </if>
       order by t.createTime desc
    </select>  
    <select id="count"  resultType="int" parameterType="PushDict">
       SELECT count(*) FROM JY_PUSH_DICT t WHERE 1=1 
    </select>        
 	<insert id="insert"  parameterType="PushDict">	
 	<![CDATA[
	INSERT INTO JY_PUSH_DICT(
	id,
	paramKey,
	paramName,
	paramValue,
	isValid,
	description,
	createTime
	) VALUES (
	#{id},
	#{paramKey},
	#{paramName},
	#{paramValue},
	#{isValid},
	#{description},
	#{createTime}
	)
	]]>  
	</insert>
	<delete id="delete" parameterType="PushDict">
	DELETE FROM JY_PUSH_DICT  WHERE 1=1 
	AND id=#{id} 
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
	DELETE FROM JY_PUSH_DICT 
	WHERE id IN(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.id}
		</foreach>
		)
	</delete>
	<update id="update" parameterType="PushDict">
		UPDATE JY_PUSH_DICT 
		SET 
			paramKey  =#{paramKey} ,
			paramName =#{paramName},
			paramValue=#{paramValue},
			description =#{description},
			isValid=#{isValid},
			updateTime =#{updateTime}
		WHERE 
			id=#{id}
	</update>	
</mapper>