<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.repository.system.user.UserDeviceDao">
	<!-- com.jy.entity.system.user.UserDeviceDao  -->
 	<resultMap id="base" type="UserDevice" ></resultMap>
 	<select id="find"  resultMap="base" parameterType="UserDevice">
       SELECT t.* FROM JY_CEQ_USER_DEVICE t WHERE 1=1 
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
       <if test="device_id!= null and device_id!='' ">
        	AND t.device_id=#{device_id}
       </if>
       <if test="user_id != null and user_id!='' ">
        	AND t.user_id=#{user_id}
       </if>
        <if test="device_model != null and device_model!='' ">
        	AND t.device_model=#{device_model}
       </if>
    </select> 
 	<select id="findByPage"  resultMap="base" parameterType="UserDevice">
       SELECT t.* FROM JY_CEQ_USER_DEVICE t WHERE 1=1 
        <if test="param.id!= null and param.id!='' ">
        	AND t.id=#{param.id}
       </if>
       <if test="param.keyWord!= null">
        	AND (
        	t.device_model LIKE CONCAT('%',#{param.keyWord},'%')    
        	OR   t.device_name LIKE CONCAT('%',#{param.keyWord},'%')
        	)
       </if>
       order by t.createTime desc
    </select>  
    <select id="count"  resultType="int" parameterType="UserDevice">
       SELECT count(*) FROM JY_CEQ_USER_DEVICE t WHERE 1=1 
    </select>        
 	<insert id="insert"  parameterType="UserDevice">	
 	<![CDATA[
	INSERT INTO JY_CEQ_USER_DEVICE(
	id,	
	device_model,
	device_name,
	admin_name,	
	device_id,	
	user_id,	
	admin_password,	
	description,	
	lockOnPush,
	hijackPush,
	alarmPush,
	powerLowPush,
	SMSPush,
	pushToken,	
	pushPlatform,		
	createTime,	
	updateTime,		
	language
	) VALUES (
	#{id},
	#{device_model},
	#{device_name},
	#{admin_name},
	#{device_id},
	#{user_id},
	#{admin_password},
	#{description},
	#{lockOnPush},
	#{hijackPush},
	#{alarmPush},
	#{powerLowPush},
	#{SMSPush},
	#{pushToken},
	#{pushPlatform},
	#{createTime},
	#{updateTime},
	#{language}
	)
	]]>  
	</insert>
	<delete id="delete" parameterType="UserDevice">
	DELETE FROM JY_CEQ_USER_DEVICE  WHERE 1=1 
	AND id=#{id} 
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
	DELETE FROM JY_CEQ_USER_DEVICE 
	WHERE id IN(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.id}
		</foreach>
		)
	</delete>
	<update id="update" parameterType="UserDevice">
		UPDATE JY_CEQ_USER_DEVICE 
		SET 
	id = #{id},
	device_model = #{device_model},
	device_name = #{device_name},
	admin_name = #{admin_name},
	device_id = #{device_id},
	user_id = #{user_id},
	admin_password = #{admin_password},
	description = #{description},
	lockOnPush = #{lockOnPush},
	hijackPush = #{hijackPush},
	alarmPush = #{alarmPush},
	powerLowPush = #{powerLowPush},
	SMSPush = #{SMSPush},
	pushToken = #{pushToken},
	pushPlatform = #{pushPlatform},
	createTime = #{createTime},
	updateTime = #{updateTime},
	language = #{language}
		WHERE 
			id=#{id}
	</update>	

</mapper>